html {
    background-image: url("images/bg.png");
    background-size: cover;
}

h1 {
    font-family: "Manrope";
    /* padding-left: 1100px; */
    color: white;
    padding-left: 1000px;
    padding-top: 300px;
}

h2 {
    font-family: "DM Sans";
    font-weight: 400;
    color: white;
    padding-left: 1000px;
    /* padding-top: 350px; */
}

p {
    font-family: "DM Sans";
    font-weight: 200;
    color: white;
    padding-left: 1000px;
    /* padding-top: 350px; */
}

#cd {
    margin-top: -560px;
    margin-left: -90px;
}

select {
    position: absolute;
    top: 10px;
    right: 10px;
    /* padding-top: -500px; */
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  select:hover {
    background-color: #c7c7c7;
  }

  #album {
    max-width: 545px;
    z-index: -9;
    position: relative;
    margin-top: -3000px;
    /* padding-top: -3000px; */
    padding-bottom: 180px;
    margin-left: 120px;
  }
  